:root {
  --color-primary: #584fb5; /* albastru deschis */
  --color-secondary: #b4ca34; /* verde deschis */
  --color-accent: #f9c74f; /* galben școlar */
  --color-text: #333333;
  --color-bg: #ffffff;
}
